
#divVistaHome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
#headerVistaHome {
    width: 100%;
    height: 100px;
    background: gray;
}

.hide {
    display: none;
}

.show {
    display: block;
}
