
body {
    background: #f1dcf8;
    padding: 0em;
    margin: 0em;
}

#root {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#divVistaLogin {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#figureLoginRegistro {
    display: flex;
    padding: 0em;
    margin: 0em;
}

#imgPrincipal {
    width: 100%;
    height: 650px;
}

#mainLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}

#figureLogo {
    display: flex;
    padding: 0em;
    justify-content: center;
    align-items: center;
}

#logoLoginRegistro {
    width: 200px;
    height: 100px;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
}

#seccionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafo {
    text-align: center;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputRegistro {
    display: flex;
    margin: 2px; 
    padding-left: 3px;
    box-sizing: border-box;
}

.inputEmail {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.inputEmail i {
    position: absolute;
    right: 0;
    margin: 10px;
    padding-right: 3px;
    color: rgb(200, 130, 235);
}

.inputPassword {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.inputPassword i {
    position: absolute;
    right: 0;
    margin: 10px;
    padding-right: 3px;
    color: rgb(200, 130, 235);
}


#botonLogin {
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 4px;
    width: 150px;
    height: 30px;
    background-color: #754857;
    border-color: #9c6678;
    border-radius: 20px;
    color: rgb(250, 249, 249);
}

#iconoRedesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.iconRed {
    display: flex;
    width: 50px;
    margin: 8px;
}


#enlaceRegistro {
    text-decoration: none;
}


@media screen and (max-width: 480px){

    body {
        background: #f1dcf8;
        padding: 0em;
        margin: 0em;
    }

    #root {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #divVistaLogin {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0em;
        padding: 0em;
    }

    #figureLoginRegistro {
        display: flex;
        flex-direction: column;
        margin: 0em;
        padding: 0em;
    }

    #imgPrincipal {
        width: 100%;
        height: 100px;
    }

    #mainLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #figureLogo {
        display: flex;
        margin-top: 20px;
        margin-bottom: 7px;
        padding: 0em;
    }

    #logoLoginRegistro {
        width: 140px;
        height: 70px;
        border-radius: 1em;
    }

    #seccionForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .parrafo {
        font-size: 13px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputRegistro{
        display: flex;
        margin: 2px;   
    }

    #botonLogin {
        display: flex;
        justify-content: center;
        margin: 8px;
        padding: 4px;
        width: 150px;
        height: 30px;
        background-color: #754857;
        border-color: #9c6678;
        border-radius: 20px;
        color: rgb(250, 249, 249);
    }

    #iconoRedesSociales {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .iconRed {
        width: 40px;
        height: 40px;
    }

    #enlaceRegistro {
        text-decoration: none;
    }
    
}
